.product-description-container {
  display: flex;
  background: #ededed;
  margin-bottom: 40px;

  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-description-container h6 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 14px;
}

.product-description-container p {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #585858;
}
